.left{
    display: flex;
    /* justify-content: space-around; */
    /* background-color: aqua; */
     /* width: 100px;  */
    flex: 1;
}
.center{
    display: flex;
    flex: 2;
}
nav{
    display: flex;
    justify-content: space-between;
}
.right{
    display: flex;
    flex: 3;
}
.left .youtube i{
color: red;
 margin-left: 2rem; 
}
.center .submit{
    height: 23px;
}
